*{
  font-family: 'Roboto', sans-serif;
  background-color: #2D2B2B;
}

.logo, h1,a{
  display: inline-block;
  vertical-align: text-top;
}
a:hover{
  color: #ac5901;
}

.logo{
  top: 15px;
  margin-left: 50px;
  width: 54px;
  height: 69px;
  opacity: 1;
}

.linha{
  display: flex;
  border-color: #FB8200;
  size: page;
}

.title, a{
  left: 160px;
  width: 198px;
  height: 13px;
  text-align: center;
  color: #FB8200;
  font-weight: bold;
  text-decoration: none;
}
p{
  color: #e7e4e4;
  margin-left: 55px;
  top: 122px;
  left: 106px;
  width: 127px;
  height: 37px;
  font-weight: bold;
  font-size: 25px;
}

article section ul{
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  column-gap: 3rem;
  row-gap: 25rem;
}

article section ul li{
  display: flex;
  flex-direction: column;
  align-items: left;
}

article section ul li a img{
  width: 197px;
  height: 296px;
  border-radius: 1rem;
  margin-bottom: 2px;
  margin-left: 15px;
}

article section ul li a{
  transition: all 0.3s;
}

article section ul li a:hover{
  transform: scale(1.1);
}

span{
  font-weight: bold;
  color: #E7E4E4;
  float: left;
  margin-left: 16px;
  text-align: left;
}
